@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');
html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(to top,rgb(0,0,0),rgb(30,30,30));
    display: flex;
    flex-flow: column nowrap;
    justify-content:space-evenly;
    align-items:center;
    overflow: hidden;
}
iframe{
    width:100%;
    height:100%;
    border: none;
}
.iframe{
    width: 50vw;
    height: 31.3vw;
    background-color:black;
}

#splash{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Quicksand";
    color: white;
}

.side-header{
    position: fixed;
    background: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0.5));
    height: 100%;
    width: 15vw;
    left: 0;
    top: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.title-container{
    margin-top: 15px;
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    justify-content:flex-start;
    align-items:center;
    padding: 0 15px;
    width: 100%;
    height: 50px;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.9);
}

.assinatura{
    background-image: url("./assets/img/assinatura.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}
.gallery{
    box-sizing: border-box;
    display:flex;
    flex-flow: column nowrap;
    justify-content:flex-start;
    width: auto;
    height: 100%;
}

.games{
    list-style: none;
    display: flex;
    flex: 1;
    flex-flow:column nowrap;
    width: auto;
    height: auto;
    padding: 0;
}

.game-container{
    flex: 1;
    padding: 0;
    width: auto;
    height: 120px;
}

.game-img{
    border: none;
    display: block;
    position: relative;
    width: 100%;
    height:100%;
    border-radius: 0 0 0 0;
    background-size: cover;
    box-shadow:  none;
    cursor: pointer;
    transform-origin: top left;
    z-index: 8;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
}

.game-img:hover{
    width: 20vw;
    border: 1px solid rgba(255,255,255, 0.5);
    box-shadow: 0 0 25px 0  black;
    border-radius: 0 0 60px 0;
    z-index: 9;
}
.select{
    width: 20vw;
    border: 1px solid white;
    box-shadow: 0 0 25px 0  black;
    border-radius: 0 0 60px 0;
    z-index: 10;
}

.disc{
    position:absolute;
    bottom: 15%;
    right: 5%;
    background-image: url("./assets/img/cd.png");
    background-size: cover;
    width: 50px;
    height: 50px;

    animation: rotate 0.5s infinite linear;
}
@keyframes rotate {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}
.overlay{
    width: 100%;
    height:100%;
    background:linear-gradient(45deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6));
}
.game-title{
    box-sizing: border-box;
    padding-left: 10px;
    position:absolute;
    bottom:-50px;
    left:0;
    width:100%;
    height: 40px;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2));
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-family: "Quicksand";
    font-weight: bold;
    color: rgb(255, 255, 255);

    transition: all 0.2s ease-in-out;
}


.hollow{
    background-image: url("./assets/img/Hollow.png");
}

.next{
    background-image: url("./assets/img/Next.png");
}

.futuman{
    background-image: url("./assets/img/Futuman.png")
}

.felpudo{
    background-image: url("./assets/img/Felpudo.png");
}
.gunslinger{
    background-image: url("./assets/img/Gunslinger.png");
}


@media only screen and (max-width: 960px) {
   
    .side-header{
        display: flex;
        flex-flow: row nowrap;
        height: 15vh;
        width: 100vw;
        align-items: flex-end;
        background: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0.5));
    }

    .title-container{
        padding: 0;
        flex-flow: column nowrap;
        justify-content:center;
        align-items: center;
        height: 120PX;
        width: 180px;
        box-shadow: 5px 0 10px -5px rgba(0,0,0,0.8);
    }
    .title-container>img{
        margin: 0;
    }
    .title-container>h1{
        display:none;
    }
    .gallery{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-start;
        width: 100vw;
        height: 100%;
        padding: 0px 0px 0px 20px;
    }

    .games{
        display: flex;
        flex-flow: row nowrap;
        width: 80vw;
        height: 100%;
    }

    .game-container{
        width: 200px;
        height: auto;
    }
    
    .game-img:hover{
        width:auto;
        height: 20vh;
    }

    .select{
        height: 20vh;
        border: 1px solid white;
        box-shadow: 0 0 25px 0  black;
        border-radius: 0 0 60px 0;
        z-index: 10;
    }

    .disc{
        bottom: 10%;
        right: 15%;
    }
}